
input {
    &:focus{
        background: transparent !important;
    }
    @include placeholder {
        color: lighten($dark-grey, 30%) !important; 
    }
}

select {
    width: 50px;
    height: 40px;
    border: none;

    option:disabled {
        display:none;
    }
}

.btn {
    border-radius: 0;
    padding: 10px 15px;

    &.btn-trans {
        border: 1px solid $dark-grey;
    }

    &.btn-add{
        min-width: 125px;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tt-menu{
    z-index: 99;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 2px grey;
    padding: 5px;
    font-size: 15px;
    color: #000;
}