.dashboard-page{
    .table-responsive{
        height: calc(100vh - 360px);
    }
}

.new-record{
    .table-responsive{
        height: calc(100vh - 432px);
        
        &.one-line-field-top{
            height: calc(100vh - 361px);
        }
    }
}