.login-page {
    margin: 0 !important;

    nav.navbar {
        display: none;
    }

    main.login {
        height: 100vh;
        display: flex;
        align-items: center;

        .wrapper{
            max-width: 450px;
            margin: auto;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 1px 0px 13px 8px #e37fb321;
        }
    }
}